* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(146, 240, 215);
}
body {
  font-family: 'Lato', sans-serif;
  background: #272727;
  // background: #2c3e50; /* fallback for old browsers */
  // background: -webkit-linear-gradient(
  //   to right,
  //   #fd746c,
  //   #2c3e50
  // ); /* Chrome 10-25, Safari 5.1-6 */
  // background: linear-gradient(
  //   to right,
  //   #fd746c,
  //   #2c3e50
  // ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h3,
h4 {
  font-weight: 400;
  color: rgb(146, 240, 215);
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 30%;
}

@import './song';
@import './player';
@import './library';
@import './nav';
